/*
    CSS PROYECTO SAAS
    1. RESEREO Y BASES
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*
    LAYOUT PRINCIPAL (Flexbox)
    2. RESEREO Y BASES
*/
.app-container{
    display: flex;
    height: 100vh; /*respecto a la altura de la ventana*/
    overflow: hidden;
}
.sidebar{
    width: 260px;
    background-color: rgb(150, 104, 43);
    color: rgb(144, 236, 205);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.logo-area{
    color: rgb(35, 230, 10);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/*
    MENU LATERAL
    2. RESEREO Y BASES
*/
.menu-lateral button{
    width: 100%;
    padding-block: 12px;
    background: transparent;
    border: 1px solid rgba(32, 29, 29, 0.867);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

/*
    AREA DE CHAT (zona central)
    4.
*/
.chat-area{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 212, 210);
}
.chat-header{
    padding: 15px;
    border-bottom: 2px solid rgba(32, 29, 29, 0.867);
    color: white;
    text-align: center;
}
.mensajes-container{
    flex-grow: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
}

.profile-photo{
    max-width: 140px;
    max-height:140px;
    border-radius: 10%;
    border: 4px solid #3b82f6;
}

.button{
    background-color: #3b82f6;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: block;
    margin: 15px auto;
    width: 200px;
}
.button:hover{
    opacity: 0.8;
}



.bright-mode .button{
    background-color: #2563eb;
    color: white;
}

#theme-toggle{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #3b82f6;
    color: white;
    border: 2px solid #3b82f6;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
}

.bright-mode #theme-toggle{
    background-color: white;
    color: black;
}
*/